# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/all-blob-reports/
/playwright/.cache/
/playwright/.auth/
results.json
.ai-healed.json
/gh-pages/
/allure-results/
/allure-report/
/allure-history/
.env
